*, body {
  font-family: 'Calibri';
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

table th {
  background: lightgray;
}

table th, table td {
  padding: 0 5px;
  border: 1px solid black;
}


.mt-4 {
  margin-top: 1rem;
}

.space-x-2 * + *	{
  margin-left: 0.5rem;
}
.block {
  display: block;
}